<!doctype html>
<html lang="de">
  <head>
    <title>Wilhelm-Hausenstein Gymnasium Durmersheim{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Das WHG ist ein allgemeinbildendes staatliches Gymnasium mit einem 8-jährigen Bildungsgang. Es liegt inmitten der Technologieregion Karlsruhe in einem ländlich-idyllischen Umfeld. Mit dem Landkreis Rastatt hat es einen engagierten Schulträger, der alle Voraussetzungen für eine gelingende, lebenswerte und moderne Schule bereitstellt." />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.min.css" />
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="https://raw.githubusercontent.com/WHG-Durmersheim/school-website-concept/master/images/hero-image.jpg" />
    <meta property="twitter:image" content="https://raw.githubusercontent.com/WHG-Durmersheim/school-website-concept/master/images/hero-image.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a id="home" href="{{ site.baseurl }}/" title="Startseite"></a>
      <div class="vertical-centered">
        <span id="path">Startseite{% if page.title %} / {{ page.title }}{% endif %}</span>
        <div id="menu-bar">
          <button id="menu" type="button" aria-label="Menü"></button>
          <form id="search" action="{{ site.baseurl }}/content/search" autocomplete="off" class="hidden">
            <input type="search" name="q" placeholder="Suchbegriff" aria-label="Suchen"></input>
          </form>
        </div>
      </div>
    </header>
    <nav class="stripes nav">
      <h3>Wir am WHG</h3>
      <h3>P&auml;dagogisches Konzept</h3>
      <h3>Unterricht und AGs</h3>
      <h3>Unterst&uuml;tzung und Rat</h3>
      <h3>Service</h3>
      <h3>Kontakt</h3>
    </nav>
    <div class="stripes">
      <div class="gold"></div>
      <div class="darkorange"></div>
      <div class="yellowgreen"></div>
      <div class="deepskyblue"></div>
      <div class="cornflowerblue"></div>
      <div class="lightsteelblue"></div>
    </div>

    <div class="slideshow-container">
      <img class="slide fade active" alt="Theater" src="{{ site.baseurl }}/images/carousel-1.jpg">
      <img class="slide fade" alt="Big Band" src="{{ site.baseurl }}/images/carousel-2.jpg">
      <img class="slide fade" alt="Erklärvideoauswertung" src="{{ site.baseurl }}/images/carousel-3.jpg">
      <img class="slide fade" alt="Wilhelm Hausenstein Büste" src="{{ site.baseurl }}/images/carousel-4.jpg">
      <img class="slide fade" alt="Wilhelm-Hausenstein Gymnasium" src="{{ site.baseurl }}/images/hero-image.jpg">
      <img class="slide fade" alt="WHG Spendenlauf" src="{{ site.baseurl }}/images/carousel-6.jpg">
      <img class="slide fade" alt="Mischpult" src="{{ site.baseurl }}/images/carousel-7.jpg">
      <a class="prev" onclick="addSlides(-1)">&#10094;</a>
      <a class="next" onclick="addSlides(1)">&#10095;</a>
      <div class="dot-container">
        <span class="dot" onclick="setSlide(0)"></span>
        <span class="dot" onclick="setSlide(1)"></span>
        <span class="dot" onclick="setSlide(2)"></span>
        <span class="dot" onclick="setSlide(3)"></span>
        <span class="dot" onclick="setSlide(4)"></span>
        <span class="dot" onclick="setSlide(5)"></span>
        <span class="dot" onclick="setSlide(6)"></span>
      </div>
    </div>

    <div class="stripes">
      <div class="gold"></div>
      <div class="darkorange"></div>
      <div class="yellowgreen"></div>
      <div class="deepskyblue"></div>
      <div class="cornflowerblue"></div>
      <div class="lightsteelblue"></div>
    </div>
    <nav class="second-nav">
      <a class="second-nav-link" href="">
        <img alt="Ranzen" src="{{ site.baseurl }}/images/ranzen.png">
        <h2>Schulleben</h2>
        <span>Aktuelles und Archiv</span>
      </a>
      <a class="second-nav-link" href="">
        <img alt="Wecker" src="{{ site.baseurl }}/images/wecker.png">
        <h2>Termine</h2>
        <span>Kalender</span>
      </a>
      <a class="second-nav-link" href="">
        <img alt="Stifte" src="{{ site.baseurl }}/images/stifte.png">
        <h2>Kurz und knapp</h2>
        <span>Wissenswertes &uuml;ber die Musterschule</span>
      </a>
      <a class="second-nav-link" href="">
        <img alt="Obst" src="{{ site.baseurl }}/images/obst.png">
        <h2>Mensa</h2>
        <span>W&ouml;chentlicher Essensplan</span>
      </a>
      <a class="second-nav-link" href="">
        <img alt="Weltkugel" src="{{ site.baseurl }}/images/weltkugel.png">
        <h2>Vertretung</h2>
        <span>Vertretungsplan</span>
      </a>
    </nav>
    <hr>
    <main>
{{ content }}
    </main>
    <hr>
    <a class="text-right" href="#">Nach oben</a>
    <section class="stripes">
      <div class="gold"></div>
      <div class="darkorange"></div>
      <div class="yellowgreen"></div>
      <div class="deepskyblue"></div>
      <div class="cornflowerblue"></div>
      <div class="lightsteelblue"></div>
    </section>
    <footer>
      <div class="grid">
        <div>
          <h2>Wir am WHG</h2>
          <h3>Was uns leitet</h3>
          <ul>
            <li><a href="">Gru&szlig;wort</a></li>
            <li><a href="">Leitbild</a></li>
            <li><a href="">Namenspatron</a></li>
            <li><a href="">Schulgeschichte</a></li>
          </ul>
          <h3>Wer wir sind</h3>
          <ul>
            <li><a href="">Schulleitung</a></li>
            <li><a href="">Lehrerkollegium</a></li>
            <li><a href="">Sch&uuml;er</a></li>
            <li><a href="">Eltern</a></li>
            <li><a href="">Sekreteriat</a></li>
            <li><a href="">Hausmeister</a></li>
          </ul>
          <h3>Wer uns verbunden ist</h3>
          <ul>
            <li><a href="">F&ouml;rderverein</a></li>
          </ul>
          <h3>Wie wir feiern</h3>
          <ul>
            <li><a href="">Feste und Feiern</a></li>
          </ul>
        </div>
        <div>
          <h2>P&auml;dagogisches Konzept</h2>
          <h3>Unser Anspruch</h3>
          <ul>
            <li><a href="">Leitbild</a></li>
          </ul>
          <h3>Miteinander in der Schule</h3>
          <ul>
            <li><a href="">Ankommen in Klasse 5</a></li>
            <li><a href="">Ganztagsangebote</a></li>
          </ul>
          <h3>Schule in der Welt</h3>
          <ul>
            <li><a href="">Fahrtenkonzept</a></li>
            <li><a href="">Austauschkonzept</a></li>
          </ul>
          <h3>Welt in der Schule</h3>
          <ul>
            <li><a href="">G&auml;ste im WHG</a></li>
            <li><a href="">Kooperationspartner</a></li>
          </ul>
          <h3>Lernen f&uuml;r's Leben</h3>
          <ul>
            <li><a href="">Methodencurriculum</a></li>
            <li><a href="">Medienbildung</a></li>
            <li><a href="">Pr&auml;vention</a></li>
            <li><a href="">Verkehrserziehung</a></li>
            <li><a href="">Berufsorientierung</a></li>
          </ul>
        </div>
        <div>
          <h2>Unterricht am WHG</h2>
          <h3>Rahmenbedingungen</h3>
          <ul>
            <li><a href="">Profilwahl</a></li>
            <li><a href="">Kontingentstundentafel</a></li>
          </ul>
          <h3>Oberstufe</h3>
          <ul>
            <li><a href="">Abitur</a></li>
          </ul>
          <h3>Wettbewerbe</h3>
          <ul>
            <li><a href="">Ausschreibungen</a></li>
            <li><a href="">Erfolge</a></li>
          </ul>
          <h3>Arbeitsgemeinschaften</h3>
          <ul>
            <li><a href="">AG-&Uuml;bersicht</a></li>
          </ul>
          <h3>F&auml;cher</h3>
          <ul>
            <li><a href="">F&auml;cher&uuml;bersicht</a></li>
          </ul>
        </div>
        <div>
          <h2>Unterst&uuml;tzung und Rat</h2>
          <h3>Beratung</h3>
          <ul>
            <li><a href="">Beratungslehrer</a></li>
            <li><a href="">Schulsozialarbeit</a></li>
            <li><a href="">Streitschlichter</a></li>
          </ul>
          <h3>Unterst&uuml;tzung</h3>
          <ul>
            <li><a href="">Hausaufgabenbetreuung</a></li>
            <li><a href="">Nachhilfeb&ouml;rse</a></li>
            <li><a href="">Sozialfond</a></li>
          </ul>
        </div>
        <div>
          <h2>Service</h2>
          <h3>Organisatorisches</h3>
          <ul>
            <li><a href="">A/B-Wochen</a></li>
            <li><a href="">Ansprechpartner</a></li>
            <li><a href="">Ferienplan</a></li>
            <li><a href="">Hausordnung</a></li>
            <li><a href="">L&auml;uteordnung</a></li>
            <li><a href="">Termine</a></li>
            <li><a href="">Vertretungsplan</a></li>
            <li><a href="">Schlie&szlig;fach</a></li>
            <li><a href="">Formulare</a></li>
          </ul>
          <h3>Lehrerausbildung</h3>
          <ul>
            <li><a href="">Orientierungspraktikum</a></li>
            <li><a href="">Praxissemester</a></li>
            <li><a href="">Referendariat</a></li>
          </ul>
        </div>
        <div>
          <h2>Kontakt</h2>
          <h3>Generell</h3>
          <ul>
            <li><a href="">Kontaktformular</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Postanschrift</a></li>
            <li><a href="">Anfahrt</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutzerklärung</a></li>
          </ul>
        </div>
      </div>
      <br>
      <div class="right">
        <h3>Schultr&auml;ger Kreisschulen</h3>
        <br>
        <div class="columns">
          <span>Landkreis<br>Rastatt<br></span>
          <img id="emblem" alt="Wappen" src="{{ site.baseurl }}/images//city-emblem.gif">
        </div>
        <br>
        <span>&copy; Wilhelm-Hausenstein Gymnasium 2017-2020</span>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/js/main.min.js" async></script>
  </body>
</html>
